*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.red-border{
    border: 2px solid red;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 30px;
}

.green-border{
    border: 2px solid green;
    margin-top: 4rem;
    border-radius: 30px;
}

.grey-border{
    border: 2px solid grey;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 30px;
}

.grey-dashed-border{
    border: 2px dashed grey;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 30px;
}

.white{
    color: white;
    filter: brightness(100%);
}



/* Style */
body{
    background-color: rgba(255, 192, 203, 0.150);
}

.title{
    text-decoration: underline;
}

.userName{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    align-items: center;
    justify-content: space-around;
    background-color: grey;
    border-radius: 30px;
}

.userName span{
    font-size: 2rem;
    background-color: yellowgreen;
    width: min-content;
    
}

h1{
    margin: 1rem 0;
}

.ticket{
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}